@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: all 300ms ease;
}

body {
    background-color: #1e1e1e;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 96vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

h1 {
    font-weight: 600;
    font-size: 1.6rem;
    color: #1e1e1e;
    text-shadow: 0 0 10px #f4abc4, 0 0 20px #f4abc4, 0 0 30px #f4abc4, 0 0 40px #f4abc4, 0 0 50px #f4abc4, 0 0 60px #f4abc4, 0 0 70px #f4abc4;
}

a {
    color: #f4abc4;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #f1f1f1;
    outline: none;
}

input::placeholder {
    color: #f1f1f1;
}

input:focus {
    border: 1px solid #f4abc4;
    color: #f4abc4;
}

button {
    padding: 0.5rem;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #f1f1f1;
    cursor: pointer;
}

button:hover {
    border: 1px solid #f4abc4;
    color: #f4abc4;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
}

#output {
    font-size: small;
}